.stats_wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/games.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  position: absolute;
  top: 100px;
  width: 60%;
  height: auto;
  background: linear-gradient(
    to top,
    rgba(152, 241, 234, 0.4),
    rgba(238, 176, 247, 0.4)
  );
  backdrop-filter: blur(15px);
  border-radius: 5px;
  /* display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; */
  text-align: center;
  color: white;
  padding: 5px;
}
