.eBook {
  width: 100%;
  max-width: 1920px;
  height: 900vh;
  background-image: url("../../assets/games.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  display: flex;
  justify-content: center;
}
.wordList {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: 50px;
  padding: 10px;
  position: absolute;
  top: 120px;
}

.word > .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.word > div > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.word {
  margin: 20px;
  display: flex;
  padding: 20px;
  /* background-color: blue; */
}
.word > .results {
  color: black;
  margin-left: 10px;
}
.navigation nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  color: black;
  width: 100%;
}
.navigation ul li button,
.navigation input {
  padding: 10px;
  border-radius: 0px;
  background-color: inherit;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navigation input {
  border: "4px solid black";
  width: "20px";
  text-align: "center";
  font-size: "1.5rem";
  position: "absolute";
  top: "0";
  right: "0";
}
.navigation ul li button.activeButton {
  color: white;
  background-color: black;
}
.navigation ul li button:hover {
  background-color: black;
  color: white;
}
.wordInfo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: black;
}
.wordTitle {
  color: green;
  font-weight: bold;
}
.wordInfoFirstRow {
  display: flex;
  column-gap: 10px;
  color: rgb(184, 178, 178);
}
.wordInfo p {
  margin: 4px;
}
.hardWord {
  /* background-image: radial-gradient(
    circle,
    #647a3a,
    #916a2e,
    #af554b,
    #ac4d7f,
    #7460b0
  ); */
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 15px;
}
.hardWord .wordTitle {
  color: rgb(89, 194, 197);
}
.bottom {
  text-align: center;
  color: #000;
}
.settings {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: black;
  background-color: rgba(137, 43, 226, 0.288);
}
.settings > div {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  padding: 30px;
  border-radius: 15px;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-weight: bold;
}
.settings button {
  background-color: inherit;
  border-radius: 0;
}
.settingsDivButtons {
  display: flex;
  column-gap: 10px;
}
.settingsButton {
  position: absolute;
  justify-self: center;
  align-self: center;
  top: 5px;
  right: 5px;
}
.sectionButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sectionButtons button {
  color: black;
  background-color: rgb(116, 141, 129);
}
.sectionButtons .activeButton {
  color: white;
  background-color: black;
}
@media (max-width: 576px) {
  .wordList {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navigation {
    margin-top: 40px;
    overflow: hidden;
  }
}
@media (min-width: 976px) {
  .wordList {
    width: 82%;
  }
}
