@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboro', sans-serif;
}

button {
    border-radius: 50px;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    outline: none;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

.blue_button {
    width: 152px;
    height: 44px;
    background: linear-gradient(90deg, rgb(80, 223, 214) 0%, rgb(32, 77, 143) 100%);
    -webkit-transition: box-shadow 0.15s ease-in;
    -moz-transition: box-shadow 0.15s ease-in;
    -o-transition: box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.blue_button:hover {
    box-shadow: 0 0 6px 4px rgba(80, 223, 214, 0.7);
}