.buttonLayer {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.button {
    width: 20%;
    height: 50%;
    border-radius: 2%;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgba(253, 253, 253, 0.1);
}

.button:hover {
    border: 1px solid rgba(253, 253, 253, 0.5);
    transition: ease-in-out 0.5s;
}