.cell {
    height: 50%;
    width: 20%;
    margin-top: 20px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.cell:hover {
    background-color: rgba(250, 234, 214, 0.1);
    transition: ease-in, 0.4s;
}

.sign {
    width: 20px;
    height: 20px;
    background-color: rgb(43, 255, 89);
    border-radius: 50%;
    color: purple;
}