.game_wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../../../../../assets/games.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,  rgba(152, 241, 234, 0.4),  rgba(238, 176, 247, 0.4));
    backdrop-filter: blur(15px);
    border-radius: 45px;
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden; */
}

.movingLayer {
    border-color: chartreuse;
    border-style: solid;
    width: 75%;
    height: 75%;
    margin-top: 5%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
}

.soundLayer {
    width: 100%;
    display: flex;
    flex-grow: 2;  
}

.roundOfSound {
    height: 70px;
    width: 70px;
    background-color: rgba(213, 191, 241, 0.1);
    border-radius: 50%;
    margin: auto;
    display: flex;
}

.soundImage {
    height: 50px;
    margin: auto;
    opacity: 0.5;
}

.wordsLayer {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.buttonLayer {
    width: 100%;
    flex-grow: 1;
}

body:fullscreen {
    background-color: antiquewhite;
}




